* {
    margin: 0;
    padding: 0;
}

:root {
    --background-color: #121116;
    --color-orange: #ED8B00;
    --color-white: #fff;
}


body {
    font-family: Tahoma;
    background-color: var(--background-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
}

.form {
    width: 400px;
    margin: auto;
    padding-top: 40px;

}

.card {
    padding: 30px;
    border-radius: 5px;

}

.card-top {
    text-align: center;
    color: var(--color-orange);
}

.card-group {
    margin-bottom: 25px;
}

.card-group>label {
    width: 100%;
    color: #fcf6f6;
    display: block;
}

.card-group>input {
    border-radius: 5px;
    outline: 0;
    width: 100%;
    height: 25px;
    padding: 5px;
    padding-top: 5px;
}

.card-group>button {
    background-color: #ED8B00;
    width: 100%;
    border-radius: 30px;
    padding: 15px;
    color: rgb(252, 250, 249);
    border: 0px;
    outline: 0;
}

input {
    border: none;
}

.btn button:hover {
    background-image: linear-gradient(to right, rgb(204, 128, 83));
    
}

.imglogin {
    
}

.title {
    color: #ED8B00;
    padding: 25px;
}